@charset "UTF-8";
/*paramètre Font */
html {
  font-family: 'Raleway',sans-serif;
}

.btnUp {
  height: 70px;
  width: 70px;
  background: #3498DB;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  min-width: 965px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-right: 4vw;
  margin-top: 6vw;
}

header ul li {
  margin-left: 50px;
}

header ul .nav__border {
  width: 100%;
  height: 20%;
}

header ul .nav__border:hover {
  border-bottom: 1px solid #AEA5AC;
  -webkit-animation: borderApparition 1s forwards;
          animation: borderApparition 1s forwards;
}

header ul a {
  text-decoration: none;
  color: #43A7DA;
  -webkit-animation: apparition 2s 0.4s backwards;
          animation: apparition 2s 0.4s backwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

header ul a i {
  margin-right: 1vw;
}

header ul a:hover {
  color: #AEA5AC;
  font-weight: 700;
  font-style: italic;
}

header ul a:hover i {
  color: #AEA5AC;
  -webkit-animation: iconeSide 500ms forwards;
          animation: iconeSide 500ms forwards;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes borderApparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes borderApparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes iconeSide {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes iconeSide {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

main {
  width: 100%;
  margin-bottom: 100px;
}

/*  titre et bannière  */
.Titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4vw;
  margin-top: -5vw;
  -webkit-animation: apparition 2s 0.4s backwards;
          animation: apparition 2s 0.4s backwards;
}

.bannière {
  margin: auto;
}

.bannière img {
  height: 15vw;
  width: 98.9vw;
}

.bannière .LogoBann {
  position: absolute;
  top: 378px;
  left: 10px;
}

.bannière .LogoBann img {
  width: 21%;
  height: 21%;
}

.bannière .LogoBann .img1 {
  -webkit-animation: imgApparition 1s forwards;
          animation: imgApparition 1s forwards;
}

.bannière .LogoBann .img2 {
  -webkit-animation: imgApparition 2s forwards;
          animation: imgApparition 2s forwards;
}

.bannière .LogoBann .img3 {
  -webkit-animation: imgApparition 3s forwards;
          animation: imgApparition 3s forwards;
}

.bannière .LogoBann .img4 {
  -webkit-animation: imgApparition 4s forwards;
          animation: imgApparition 4s forwards;
}

.bannière .LogoBann img:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 2px 2px 12px grey;
          box-shadow: 2px 2px 12px grey;
}

@-webkit-keyframes imgApparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imgApparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  section  */
.ArticlePrev {
  margin-top: 100px;
  margin-left: 4vw;
}

.ArticlePrev .titre--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #43A7DA;
  gap: 30px;
  width: 50%;
}

.ArticlePrev .titre--color:hover i {
  color: #F39237;
  -webkit-animation: iconsBig 1s forwards;
          animation: iconsBig 1s forwards;
}

.ArticlePrev .Stitre__size {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ArticlePrev .Stitre__size .Stitre--color {
  font-size: 1.3rem;
}

.ArticlePrev .Stitre__size .link--set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border: 1px solid #43A7DA;
  border-radius: 30px;
  min-width: 17%;
  height: 4vw;
  -webkit-transform-origin: center;
          transform-origin: center;
  padding: 0vw 1vw;
}

.ArticlePrev .Stitre__size .link--set:hover {
  -webkit-animation: backColor 300ms;
          animation: backColor 300ms;
  background: #43A7DA;
  color: black;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 2px 2px 12px grey;
          box-shadow: 2px 2px 12px grey;
}

.ArticlePrev .Stitre__size .link--set:hover p {
  color: black;
}

.ArticlePrev .Stitre__size .link--set a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: 20px;
}

.ArticlePrev .Stitre__size .link--set a p {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
}

.ArticlePrev .Stitre__size .link--set img {
  width: 3vw;
  height: 3vw;
}

.ArticlePrev .Stitre__size .link--set__serv {
  width: 17%;
}

.ArticlePrev .Stitre__size .link--set__Contact {
  width: 17%;
}

@-webkit-keyframes backColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes iconsBig {
  0% {
    scale: 1;
  }
  100% {
    scale: 2;
  }
}

@keyframes iconsBig {
  0% {
    scale: 1;
  }
  100% {
    scale: 2;
  }
}

footer {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  width: 30%;
  text-decoration: none;
  list-style: none;
}

footer ul li {
  margin-top: 30px;
}

footer ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  gap: 30px;
}

footer ul a:hover {
  color: #F39237;
}

footer .LOGOfootSize {
  width: 50%;
}

footer p {
  color: #fff;
}

footer .NosPart__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  margin-top: 30px;
  margin-left: 30px;
}

footer .NosPart__set i {
  color: #F39237;
}

footer .NosPart__set p {
  font-size: 1rem;
}

footer .NosPart__set img {
  border-radius: 10px;
}

footer .NosPart__set .logo-haeger {
  width: 20%;
  height: 15%;
}

footer .NosPart__set .logo-telegil {
  width: 20%;
  height: 30%;
}

footer .NosPart__set .Rexel-logo {
  width: 20%;
  height: 30%;
}

footer .copyR {
  width: 40%;
  margin-left: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  body {
    width: 100%;
  }
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    position: unset;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 10px;
    min-width: 90px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
  }
  header nav ul li {
    padding: 10px;
    width: 80%;
    white-space: nowrap;
    font-size: 20px;
  }
  .bannière .LogoBann {
    display: none;
  }
  .ArticlePrev {
    margin-top: 100px;
    margin-left: 4vw;
  }
  .ArticlePrev .titre--color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
    color: #43A7DA;
    gap: 30px;
    width: 50%;
  }
  .ArticlePrev .titre--color:hover i {
    color: #F39237;
    -webkit-animation: iconsBig 1s forwards;
            animation: iconsBig 1s forwards;
  }
  .ArticlePrev .Stitre__size {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ArticlePrev .Stitre__size .Stitre--color {
    font-size: 1.3rem;
  }
  .ArticlePrev .Stitre__size .link--set {
    display: none;
  }
  footer {
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  footer ul {
    width: 30%;
    text-decoration: none;
    list-style: none;
  }
  footer ul li {
    margin-top: 25px;
  }
  footer ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    gap: 20px;
  }
  footer ul a:hover {
    color: #F39237;
  }
  footer .LOGOfootSize {
    width: 80%;
  }
  footer p {
    color: #fff;
  }
  footer .NosPart__set {
    display: none;
  }
  footer .copyR {
    width: 40%;
    margin-left: 11vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@font-face {
  font-family: 'balooregular';
  src: url("Baloo-Regular-webfont.eot");
  src: url("../fonts/Baloo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Baloo-Regular-webfont.woff2") format("woff2"), url("../fonts/Baloo-Regular-webfont.woff") format("woff"), url("../fonts/Baloo-Regular-webfont.ttf") format("truetype"), url("../fonts/Baloo-Regular-webfont.svg#balooregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.focus {
  color: #960098;
  font-weight: 500;
}

.space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subText_set {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subText_set h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

.titre_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

.titre_set h1 {
  font-size: 3rem;
  font-family: 'balooregular';
  color: #3498DB;
}

.parallax-effect2 {
  background-image: url("../images/light-bulb-1640438_1920.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  margin: 80px 30px;
}

.card-wrapper {
  position: relative;
  min-height: 350px;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-perspective-origin: top;
          perspective-origin: top;
}

.card-wrapper:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: white;
  font-weight: bold;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  background: #3498DB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-wrapper:nth-child(even) .card-front {
  background-color: #1a2f42;
}

.card-front p {
  font-size: 25px;
  line-height: 35px;
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card-price {
  font-size: 45px;
}

.card-back {
  background: #ed5d34;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-wrapper:nth-child(even) .card-back {
  background-color: #1a2f42;
}

.card-back a {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.card-wrapper:nth-child(odd) .card-back a:hover {
  background-color: #1a2f42;
  color: #fff;
}

.card-wrapper:nth-child(even) .card-back a:hover {
  background-color: #ed5d34;
  color: #fff;
}

.logoNoservices {
  position: relative;
  left: 800px;
  top: -200px;
}

.logoNoservices img {
  padding: 0 10px;
}

.logoNoservices img:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  scale: 1.1;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
/*# sourceMappingURL=style.css.map */