

/*paramètre Font */
html{
    font-family: 'Raleway',sans-serif;
}
.btnUp{
    height: 70px;
    width: 70px;
    background: #3498DB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 6;
}
//-----------  header----------------  */
header{
    display: flex;
    justify-content: space-between;
    nav{
        min-width: 965px;
        background: #fff;
        display: flex;
    }
    ul{
        display: flex;
        text-decoration: none;
        list-style: none;
        margin-right: 4vw;
        margin-top: 6vw;
        li{
            margin-left: 50px;
        }
        .nav__border{
            width: 100%;
            height: 20%;
        }
        .nav__border:hover{
            border-bottom: 1px solid #AEA5AC;
            animation: borderApparition 1s forwards; 
        }
        a{
            text-decoration: none;
            color: #43A7DA;
            animation: apparition 2s 0.4s backwards;
            transform-origin: center;
            i{
                margin-right: 1vw;
                
            }
        }
        a:hover{
            color: #AEA5AC;
            font-weight: 700;
            font-style: italic;
        }
        a:hover i{
            color: #AEA5AC;
            animation: iconeSide 500ms forwards ;
        }
    }
}

@keyframes apparition{
    0% {
        opacity: 0;
        transform: translateX(15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes borderApparition{
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        
    }
}
@keyframes iconeSide{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
}


//-------------------main-----------------  */
main{
    width: 100%;
    margin-bottom: 100px;
}
/*  titre et bannière  */
.Titre{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 4vw;
    margin-top: -5vw;
    animation: apparition 2s 0.4s backwards;
}
.bannière{
   margin: auto;
   img{
       height: 15vw;
       width: 98.9vw;
   } 
   .LogoBann{
       position: absolute;
       top: 378px;
       left: 10px;
   img{
       width: 21%;
       height: 21%;
   }
   .img1{
    animation: imgApparition 1s forwards;
   }
   .img2{
    animation: imgApparition 2s forwards;
   }
   .img3{
    animation: imgApparition 3s forwards;
   }
   .img4{
    animation: imgApparition 4s forwards;
   }
   img:hover{
    filter: brightness(115%);
    box-shadow: 2px 2px 12px grey;
   }
}
@keyframes imgApparition{
    0% {
        opacity: 0;
        
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}
}
/*  section  */

.ArticlePrev{
    margin-top: 100px;
    margin-left: 4vw;
    .titre--color{
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: #43A7DA;
        gap: 30px;
        width: 50%;
    }
    .titre--color:hover i{
        color: #F39237;
        animation: iconsBig 1s forwards;
    } 
    .Stitre__size{
        width: 70%;
        display: flex;
        justify-content: space-between;
        .Stitre--color{
            font-size: 1.3rem;
            
        }
        .link--set{
            
            display: flex;
            cursor: pointer;
            border: 1px solid #43A7DA;
            border-radius: 30px;
            min-width: 17%;
            height: 4vw;
            
            transform-origin: center;
            padding: 0vw 1vw;
            &:hover{
                
                animation: backColor 300ms; 
                background: #43A7DA;
                color: black;
                filter: brightness(115%);
                box-shadow: 2px 2px 12px grey;
                p{
                    color: black;
                }
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin-left: 20px;
                p{
                    margin-right: 10px;
                    font-size: 15px;
                    font-weight: 700;

                }
            }
            
            img{
                width: 3vw;
                height: 3vw;
            }
        }
        .link--set__serv{
            width: 17%;
        }
        .link--set__Contact{
            width: 17%;
        }
    }

}

@keyframes backColor{
    0%{
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes iconsBig{
    0%{
        scale: 1;
    }
    100%{
        scale: 2;
    }
}
footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul{
        width: 30%;
        text-decoration: none;
        list-style: none;
        li{
            margin-top: 30px;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            gap: 30px;
        }
        a:hover{
            color: #F39237;
        }
    }
    .LOGOfootSize{
        width: 50%;
    }
    p{
        color: #fff;

    }
    .NosPart__set{
        display: flex;
        justify-content: space-evenly;
        
        align-items: center;
        
        width: 55%;
        margin-top: 30px;
        margin-left: 30px;
        i{
            color: #F39237;
            
        }
        p{
            font-size: 1rem;
        }
        img{
            border-radius: 10px;
        }
        .logo-haeger{
            width: 20%;
            height: 15%;
        }
        .logo-telegil{
            width: 20%;
            height: 30%;
        }
        .Rexel-logo{
            width: 20%;
            height: 30%;
        }
        
    }
    .copyR{
        width: 40%;
        margin-left: 11vw;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

}

@media (max-width: 991.98px) {
    body{
        width: 100%;
    }
    h1{
        font-size: 15px;

    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }

    header{
        display: flex;
        flex-direction: column;
        nav{
            position: unset;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-bottom: 10px;
            min-width: 90px;
            ul{
                display: flex;
                flex-wrap: wrap;
                padding-left: 0px;
                
                li{
                    padding: 10px;
                    width: 80%;
                    white-space: nowrap;
                    font-size: 20px;
                }
            }
        }

    }
    .bannière{
        .LogoBann{
            display: none;
        }
    }
    .ArticlePrev{
        margin-top: 100px;
        margin-left: 4vw;
        .titre--color{
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            color: #43A7DA;
            gap: 30px;
            width: 50%;
        }
        .titre--color:hover i{
            color: #F39237;
            animation: iconsBig 1s forwards;
        } 
        .Stitre__size{
            width: 70%;
            display: flex;
            justify-content: space-between;
            .Stitre--color{
                font-size: 1.3rem;
                
            }
            .link--set{
                
                display: none;
            }
            
        }
    
    }
    footer{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
        ul{
            width: 30%;
            text-decoration: none;
            list-style: none;
            li{
                margin-top: 25px;
            }
            a{
                text-decoration: none;
                color: #fff;
                font-size: 1rem;
                gap: 20px;
            }
            a:hover{
                color: #F39237;
            }
        }
        .LOGOfootSize{
            width: 80%;
        }
        p{
            color: #fff;
    
        }
        .NosPart__set{
            display: none;
        }
        .copyR{
            width: 40%;
            margin-left: 11vw;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }
    
    }
}
//----------- font page autre
@font-face {
    font-family: 'balooregular';
    src: url('Baloo-Regular-webfont.eot');
    src: url('../fonts/Baloo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Baloo-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Baloo-Regular-webfont.woff') format('woff'),
         url('../fonts/Baloo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Baloo-Regular-webfont.svg#balooregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 
//-------domotique autre page
.flex{
    display: flex;
    justify-content: space-around;
}
.focus{
   color: #960098;
   font-weight: 500;
}
.space{
    margin-top: 10px;
    margin-bottom: 10px;
}
.subText_set{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    h3{
        font-weight: 300;
        font-size: 1.2rem;
    }
}
.titre_set{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    h1{
        font-size: 3rem;
        font-family: 'balooregular';
        color: #3498DB;
    }
}

.parallax-effect2 {
    background-image: url("../images/light-bulb-1640438_1920.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-gap: 20px;
      margin: 80px 30px;
    }
    .card-wrapper {
      position: relative;
      min-height: 350px;
      perspective: 2000px;
      perspective-origin: top;
    }
    
    .card-wrapper:hover .card {
      transform: rotateY(180deg);
    }
    
    .card {
      position: relative;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
      color: white;
      font-weight: bold;
    }
    
    .card-front, 
    .card-back {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 30px;
      border-radius: 8px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    
    .card-front {
      background: #3498DB;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .card-wrapper:nth-child(even) .card-front {
      background-color: #1a2f42;
    }
    
    .card-front p {
      font-size: 25px;
      line-height: 35px;
    }
    
    .arrow-icon {
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
    .card-price  {
      font-size: 45px;
    }
    
    .card-back {
      background: #ed5d34;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    .card-wrapper:nth-child(even) .card-back {
      background-color: #1a2f42;
    }
    
    .card-back a {
      display: inline-block;
      border-radius: 10px;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: normal;
      background-color: #fff;
      font-size: 14px;
      color: #333;
      transition: 
      background-color 0.3s ease-out,
      color 0.3s ease-out;
    }
    
    .card-wrapper:nth-child(odd) .card-back a:hover {
      background-color: #1a2f42;
      color: #fff;
    }
    .card-wrapper:nth-child(even) .card-back a:hover {
      background-color: #ed5d34;
      color: #fff;
    }

    //---- nos-services
    .logoNoservices{
        position: relative;
        left: 800px;
        top: -200px;
        img{
            padding: 0 10px;
        }
        img:hover{
            filter: brightness(115%);
            scale: 1.1;
            transition: 300ms ease;
            
        }

    }